---

---

<section id="indicadores" class="bg-[url(/src/assets/background.jpg)] bg-cover bg-center bg-no-repeat p-8">
  <div class="flex justify-around items-center">
    <div class="p-2">
      <h1 class="text-[#8987c0] text-5xl font-bold">
        5 indicadores <br />de que necesitas <br />Diseño de Servicios
      </h1>
      <ol
        class="list-decimal text-[#7d7d7d] font-light text-2xl leading-10 p-6"
      >
        <li>Alta rotación de personal.</li>
        <li>Intervención del dueño de negocio en la <br> operación.</li>
        <li>
          Cuellos de botella par atender o dar <br> seguimiento a los clientes.
        </li>
        <li>Inconsistencia con los clientes.</li>
        <li>Dependencia excesiva de ciertos empleados.</li>
      </ol>
      <div>
      </div>
      <a href="#" class="flex items-center gap-2 bg-blue-600 text-white px-4 py-2 rounded-4xl hover:bg-blue-700 w-36">
          <img
            class="w-4 h-auto"
            src="/src/assets/linkedin-logo-design-30.webp"
            alt=""
          />
          <span>Saber más</span>
      </a>
    </div>
    <div class="p-2">
      <img
        class="w-100 h-100 rounded-full object-cover"
        src="/src/assets/pexels-marcus-queiroga-silva-86421404-19595138.png"
        alt="img indicadores"
      />
    </div>
  </div>
</section>

<style></style>
