---

---

<section id="indicadores" class="p-24 max-w-full">
  <div class="flex justify-between items-center">
    <div class="p-2">
      <h1 class="text-[#8987c0] text-5xl font-bold">
        5 indicadores <br />de que necesitas <br />Diseño de Servicios
      </h1>
      <ol
        class="list-decimal text-[#7d7d7d] font-light text-2xl leading-10 p-6"
      >
        <li>Alta rotación de personal.</li>
        <li>Intervención del dueño de negocio en la <br> operación.</li>
        <li>
          Cuellos de botella par atender o dar <br> seguimiento a los clientes.
        </li>
        <li>Inconsistencia con los clientes.</li>
        <li>Dependencia excesiva de ciertos empleados.</li>
      </ol>
      <div>
      </div>
      <a href="#" class="flex justify-center items-center gap-2 bg-blue-600 text-white p-2 rounded-4xl hover:bg-blue-700 w-32">
        <div>
          <img
            class="w-4 h-auto"
            src="/src/assets/linkedin-logo-design-30.webp"
            alt=""
          />
          </div>  
        
          <span>Saber más</span>
      </a>
    </div>
    <div class="p-2">
      <img
        class="w-[450px] h-[450px] rounded-full object-cover"
        src="/src/assets/pexels-marcus-queiroga-silva-86421404-19595138.png"
        alt="img indicadores"
      />
    </div>
  </div>
</section>

<style></style>
