---
import Mayam from '../../assets/images/';
---
<section>
    <h1>
        Aliados Estrategicos
    </h1>
    <section>
        <div>
            <img src="" alt="">
        </div>
    </section>
    <section>
        <h2>Contactanos</h2>
        <h1>Incrementa la <strong>experiencia</strong> de tus clientes!</h1>
    </section>
    <section class="bg-amber-400 w-[200px] h-[300px]">
        <form class="" id="formulario">
			<h1  class="">formulario</h1>
			<input type="text" name="user" placeholder="Ingresa tu Usuario" />
            <input type="email" name="email" placeholder="Ingresa tu Correo" />
			<input type="number" name="edad" placeholder="Ingresa tu Edad" />
			<input type="number" name="telefono" placeholder="Ingresa tu Telefono" />
			<input type="text" name="direccion" placeholder="Ingresa tu Direccion" />
			<button type="submit" form="user-form"> Ingresar </button>
		</form>

    </section>
</section>