---
import IMGImagen from '../assets/IMG.png';
---
<section>  
   <section>
    <h1>
      ¿Tus colaboradores saben qué decir y hacer?
    </h1>
    <strong>standarizamos la atención al cliente.</strong>
    <p>
        Una empresa rentable es aquella que confia en sus colaboradores y procesos para que
		tu marca siempre se vea y se sienta en todos los puntos de contacto.
    </p>
   </section>
<!--abajo esta para la imagen-->
<section>
    <div>
        <img src="{IMGImagen}" alt="">
    </div>
</section>
</section>