---
import Layout  from "../../layouts/Layout.astro";
---
<Layout> 
<main class="flex flex-col items-center justify-center min-h-screen bg-gray-200">
    <div class="container m-4 bg-amber-100 flex  ">
    <h1 class="  bg-amber-500 text-bold"> diseno de servicios </h1>
    <p>This is a placeholder for Mauricio's content.</p>
    </div>
</main>