---
import Button from '../Button.astro';
---

<section id="ayudamos" class="w-auto h-auto" >
    <h1 class="flex justify-center font-bold text-foreground/60 text-5xl m-12">Te ayudamos con:</h1>


    <!-- Ayuda 1 -->
<div class="grid grid-cols-1 sm:grid-cols-2 gap-20 px-6 max-w-3xl mx-auto">
    <div class="rounded-4xl flex flex-col p-8 shadow-xl space-y-7">
        <h2 class="text-center font-bold mb-6 text-[#7b8c42] text-2xl mx-2">Diseño de onboarding</h2>

        <p>Dar la bienvenida adecuada, con lineaminetos y manuales claros con
                        obligaciones y responsabilidades bien definidas, permite al colaborador integrarse con confianza 
                        al equipo, comprender su rol desde el inicio y alinearse con los procesos de la empresa fortaleciendo
                        la cultura organizacional y el desempeño desde el primer dia.
            </p>
            <div  class="flex justify-center items-center m-4">
                <Button label="Contactar equipo Mapache">
            </div>
    </div>

    <div class="rounded-4xl flex flex-col p-8 shadow-xl space-y-10">
        <h2 class="text-center font-bold mb-6 text-[#8987C0] text-2xl">Diseño de embajador de Marca</h2>
            <p>Un asistente clave que atiende, informa y represente los valores, el servicio y la esencia
                de tu atención excepcional, gestiona la agenda de reservaciones, comunica promociones y crea
                conexiones memorables con tus clientes. Eleva la experiencia y fortalece la identidad de tu
                marca desde el primer contacto
            </p>

            <div  class="flex justify-center items-center m-4">
                <Button label="Contactar equipo Mapache">
            </div>
                  
    </div> 
</div>


<!-- Ayuda 2 -->

<h1 class="text-center text-5xl font-bold text-foreground/60 m-12">Te ayudamos con:</h1>

<div class="grid grid-cols-1 sm:grid-cols-2 gap-20 px-6 max-w-3xl mx-auto">
    
    <div class="rounded-4xl flex flex-col p-8 shadow-xl">
        <h2 class="text-center font-bold mb-6 text-[#7b8c42] text-2xl" >Capacitación para nuevos colaboradores</h2>
        
        <h6 class="text-1xl text-foreground/60 font-medium">Integración con sistemas existentes:</h6>    
            <p>-Bienvenida y presentación del restaurante (historia, concepto, valores)</li>
            <p>-Organigrama y estructura jerárquica</p>
            <p>-Políticas internas y código de conducta</p>
            <p>-Capacitacón operativapor área</p>
            <p>-Reporte de asistencias y cumplimiento de tareas</p>
            <p>-Conexión a bases de datos empresariales</p>
            <p>-Integración con CRM, ERP, POS, y otros sistemas</p>
            <p>-Acceso a inventarios y catálogos en tiempo real</p>

            <div  class="flex justify-center items-center m-4">
                <Button label="Contactar equipo Mapache">
            </div>
        
        
    </div>


    <div class=" rounded-4xl flex flex-col p-8 shadow-xl ">
        <h2 class="text-center font-bold mb-6 text-[#8987C0] text-2xl">Asistentes Virtuales IA para Negocios</h2>
        <h6 class="text-1xl text-foreground/60 font-medium">Atención al cliente:</h6>
        <p>-Manejo de reservaciones</p>
        <p>-Difusión de eventos</p>
        <p>-Programa de lealtad</p>
        <p class="pb-2">-Canocimiento de menú</p>
        
        <h6 class="text-1xl text-foreground/60 font-medium">Capacidades Técnicas:</h6>
        <p>-Lectura y análisis de imágenes</p>
        <p>-Respuesta en texto y voz</p>
        <p>-Interpretación de documentos</p>
        <p>-Identidad visual acorde a la marca</p>
        <p>-Voz personalidad con el tono adecuado para la marca</p>
        <p>-Personalidad y estilo comunicativo ajustado a cada negocio</p>

         <div class="flex justify-center items-center m-4">
            <Button label="Contactar equipo Mapache">

         </div>
        
        
    </div>
</div>
</section>


<style>
     p {
        color: #b5b5b5;
        font-size: 12px;
        
    }

     

</style>