---
---
<section class="w-auto h-auto" >
    <h1 class="text-center text-[#707070] font-bold text-2xl">Te ayudamos con:</h1>



<div class="grid place-items-center grid-cols-1 md:grid-cols-2">
    
    <div class="w-[300px] h-[350px] m-16 rounded-4xl flex flex-col justity-center items-center bg-[#fffbfb]">
        <h2 class="text-center font-bold py-4 text-[#7b8c42] text-[22px]">
                Diseño de onboarding
            </h2>

            <p class="text-foreground/60 py-2 text-[12px] m-[30px]">
                Dar la bienvenida adecuada, con lineamientos y manuales claros con obligaciones y responsabilidades bien definidas, perminte al colaborador integrarse con confianza al equipo, comprender su rol desde inicio y alinearse con los procesos de la empresa fortaleciendo la cultura organizacional y el desempeño desde el primer dia.
            </p>

            <button class="rounded-full text-[10px] w-[160px] font-bold cursor-pointer m-4 bg-primary hover:bg-primary/80">
            Contactar equipo Mapache
            </button>
    </div>
    <div class="w-[300px] h-[350px] m-16 rounded-4xl flex flex-col justify-center items-center bg-[#fffbfb]">
        <h2 class="text-center font-bold py-2 text-[#8987C0] text-[22px]">
                Diseño de embajador de Marca
            </h2>
            <p class="text-foreground/60 py-2 text-[12px] m-[30px]">
                Un asistente clave que atiende, informa y represente los valores, el servicio y la esencia de tu atención excepcional, gestiona la agenda de reservaciones, comunica promociones y crea conexiones memorables con tus clientes. Eleva la experiencia y fortalece la identidad de tu marca desde el primer contacto.
            </p>

            <button class="rounded-full text-[10px] w-[160px] items-center font-bold cursor-pointer bg-primary hover:bg-primary/80">
                Contactar equipo Mapache
            </button>   
    </div> 
</div>












<h1 class="text-center text-2xl font-bold text-[#707070]">Te ayudamos con:</h1>

<div class="grid grid-cols-1 md:grid-cols-2">
    
    <div class="w-[300px] h-[350px] m-16 rounded-4xl flex flex-col justity-center items-center bg-[#fffbfb]">
        <h2 class="text-center font-bold py-4 text-[#7b8c42] text-[22px]" >Capacitación para nuevos colaboradores</h2>
            <h6>Integración con sistemas existentes:</h6>

        <ul class="list-none">
            <li>-Bienvenida y presentación del restaurante (historia, concepto, valores)</li>
            <li>-Organigrama y estructura jerárquica</li>
            <li>-Políticas internas y código de conducta</li>
            <li>-Capacitacón operativapor área</li>
            <li>-Reporte de asistencias y cumplimiento de tareas</li>
            <li>-Conexión a bases de datos empresariales</li>
            <li>-Integración con CRM, ERP, POS, y otros sistemas</li>
            <li>-Acceso a inventarios y catálogos en tiempo real</li>
        </ul>
        <button class="rounded-full text-[10px] w-[160px] items-center font-bold cursor-pointer bg-primary hover:bg-primary/80">Contactar equipo Mapache</button>

    </div>



    <div class="w-[300px] h-[350px] m-16 rounded-4xl flex flex-col justity-center items-center bg-[#fffbfb]">
        <h2 class="text-center font-bold py-2 text-[#8987C0] text-[22px]">Asistentes Virtuales IA para Negocios</h2>
        
        <h6>Atención al cliente:</h6>
        <ul class="list-none">
            <li>-Manejo de reservaciones</li>
            <li>-Difusión de eventos</li>
            <li>-Programa de lealtad</li>
            <li>-Canocimiento de menú</li>
        </ul>

        <h6 class="">Capacidades Técnicas:</h6>
        <ul class="list-none">
            <li>-Lectura y análisis de imágenes</li>
            <li>-Respuesta en texto y voz</li>
            <li>-Interpretación de documentos</li>
            <li>-Identidad visual acorde a la marca</li>
            <li>-Voz personalidad con el tono adecuado para la marca</li>
            <li>-Personalidad y estilo comunicativo ajustado a cada negocio</li>
        </ul>
        <button class="rounded-full text-[10px] w-[160px] items-center font-bold cursor-pointer bg-primary hover:bg-primary/80">Contactar equipo Mapache</button>
    </div>
</div>

</section>


<style>
     ul {
        color: #707070;
        font-size: 12px;

    }

</style>

