---
---
<section id="ayudamos" class="w-auto h-auto" >
    <h1 class="flex justify-center text-[#707070] font-bold text-4xl">Te ayudamos con:</h1>



<div class="grid place-items-center grid-cols-1 md:grid-cols-2">
    
    <div class="w-[300px] h-[350px] m-16 rounded-4xl flex flex-col justity-center bg-[#fffbfb]">
        <h2 class="text-center font-bold py-4 text-[#7b8c42] text-[22px]">
                Dise침o de onboarding
            </h2>

            <p class="text-foreground/60 py-2 text-[12px] m-[30px]">
                Dar la bienvenida adecuada, con lineamientos y manuales claros con obligaciones y responsabilidades bien definidas, perminte al colaborador integrarse con confianza al equipo, comprender su rol desde inicio y alinearse con los procesos de la empresa fortaleciendo la cultura organizacional y el desempe침o desde el primer dia.
            </p>

            <button class="rounded-full text-[10px] px-4 font-bold cursor-pointer m-4 bg-primary hover:bg-primary/80">
            Contactar equipo Mapache
            </button>
    </div>
    <div class="w-[300px] h-[350px] m-16 rounded-4xl flex flex-col justify-center bg-[#fffbfb]">
        <h2 class="text-center font-bold py-2 text-[#8987C0] text-[22px]">
                Dise침o de embajador de Marca
            </h2>
            <p class="text-foreground/60 py-2 text-[12px] m-[30px]">
                Un asistente clave que atiende, informa y represente los valores, el servicio y la esencia de tu atenci칩n excepcional, gestiona la agenda de reservaciones, comunica promociones y crea conexiones memorables con tus clientes. Eleva la experiencia y fortalece la identidad de tu marca desde el primer contacto.
            </p>

            <button class="rounded-full text-[10px] m- font-bold cursor-pointer bg-primary hover:bg-primary/80">
                Contactar equipo Mapache
            </button>   
    </div> 
</div>
</section>