---
---
<section class="grid gap-16 justify-content ">


<section class="grid gap-16 justify-content ">
    <h1 class="text-center text-2xl font-bold text-foreground/65">
        Te Ayudamos con: 
    </h1>

    <div class="border border-muted rounded-2xl">
        <h2 class="text-center font-medium py-4 text-[#7b8c42]">
            Dise침o de onboarding
        </h2>
        <p>
            Dar la bienvenida adecuada, con lineamientos y manuales claros con obligaciones y responsabilidades bien definidas, perminte al colaborador integrarse con confianza al equipo, comprender su rol desde inicio y alinearse con los procesos de la empresa fortaleciendo la cultura organizacional y el desempe침o desde el primer dia.
        </p>
        <button class="  bg-primary text-foreground rounded-4xl font-medium p-2  cursor-pointer hover:bg-primary/80 t">
            Contactar equipo Mapache
        </button>
    
    </div>
        
    <div>
        <h2 class="text-center font-medium py-4 text-[#140fb9]">
            Dise침o de embajador de Marca
        </h2>
        <p>
            Un asistente clave que atiende, informa y represente los valores, el servicio y la esencia de tu atenci칩n excepcional, gestiona la agenda de reservaciones, comunica promociones y crea conexiones memorables con tus clientes. Eleva la experiencia y fortalece la identidad de tu marca desde el primer contacto.
        </p>
        <button class=" bg-primary text-foreground rounded-4xl font-medium p-2 cursor-pointer hover:bg-primary/80 ">
            Contactar equipo Mapache
        </button>
    </div>
</section>
</section>
<style>
    .sections{
		display: grid;
		grid-template-rows: 90px 90px;
    }
   
</style>