---
---


<h1 class="text-center text-2xl font-bold text-foreground/65 mb-8">Te Ayudamos con: </h1>


<section class="gridt">
        <div>
            <h2 class="text-center font-bold py-4 text-[#7b8c42] text-[22px]">
                Dise침o de onboarding
            </h2>

            <p class="text-foreground/60 py-2 text-[12px] m-[30px]">
                Dar la bienvenida adecuada, con lineamientos y manuales claros con obligaciones y responsabilidades bien definidas, perminte al colaborador integrarse con confianza al equipo, comprender su rol desde inicio y alinearse con los procesos de la empresa fortaleciendo la cultura organizacional y el desempe침o desde el primer dia.
            </p>

            <button class="rounded-full text-[10px] px-4 font-bold cursor-pointer mx-[70px] m-4 bg-primary hover:bg-primary/80">
            Contactar equipo Mapache
            </button>
    
        </div>
        <div>
            <h2 class="text-center font-bold py-2 text-[#8987C0] text-[22px]">
                Dise침o de embajador de Marca
            </h2>
            <p class="text-foreground/60 py-2 text-[12px] m-[30px]">
                Un asistente clave que atiende, informa y represente los valores, el servicio y la esencia de tu atenci칩n excepcional, gestiona la agenda de reservaciones, comunica promociones y crea conexiones memorables con tus clientes. Eleva la experiencia y fortalece la identidad de tu marca desde el primer contacto.
            </p>

            <button class="rounded-full text-[10px] px-4 font-bold cursor-pointer mx-[70px] m-4 bg-primary hover:bg-primary/80">
                Contactar equipo Mapache
            </button>
        </div>
    
</section>

<style>
   

    .gridt{
       display: grid;
       
        grid-template-columns: 1fr 1fr;
        width: 100%;
        justify-items: center; 
        background: rgb(13, 197, 197);
    }
   
    div{
        
        margin: 16px;
        width: 300px;
        border-radius: 5dvh;
        

        background: rgb(197, 13, 133);
        
    }

</style>