
<<<<<<< HEAD
---
import

let letterCards = [
=======
let LetterCards = [
>>>>>>> 9ece215357ed4bbfad78da74ce6ad265c44721a5
	{
		imgSrc:
			'png de la imagen',
		title: 'Diseño de onboarding',
		letter: ' Dar la bienvenida adecuada, con lineamientos y manuales claros con obligaciones y responsabilidades bien definidas, perminte al colaborador integrarse con confianza al equipo, comprender su rol desde inicio y alinearse con los procesos de la empresa fortaleciendo la cultura organizacional y el desempeño desde el primer dia.',
	},
	{
		imgSrc:
			'png de la imagen',
		title: 'Diseño de embajador de Marca',
		letter: 'Un asistente clave que atiende, informa y represente los valores, el servicio y la esencia de tu atención excepcional, gestiona la agenda de reservaciones, comunica promociones y crea conexiones memorables con tus clientes. Eleva la experiencia y fortalece la identidad de tu marca desde el primer contacto.',
	},
	{
		imgSrc:
			'png de la imagen',
		title: 'Capacitación para nuevos colaboradores',
		subtitle: 'este el es subtitulo',
		letter: '',
	},
	{
		imgSrc:
			'png de la imagen',
		title: 'Asistentes Virtuales IA para Negocios',
		subtitle: 'Atención al cliente',
		letter: ' ',


	},
];
---
<main>
		<section>
			{
				letterCards.map(function (lettercard) {
					return (
						<letterCard
							imgSrc={lettercard.imgSrc}
							title={lettercard.title}
							body={lettercard.body}
							price={lettercard.price}
						/>
					);
				})
			}
		</section>
	</main>
