
---
import

let letterCards = [
	{
		imgSrc:
			'png de la imagen',
		title: 'titulo',
		subtitle: 'este el es subtitulo',
		letter: ' descrpcion de esa cosa',
	},
	{
		imgSrc:
			'png de la imagen',
		title: 'titulo',
		subtitle: 'este el es subtitulo',
		letter: ' descrpcion de esa cosa',
	},
	{
		imgSrc:
			'png de la imagen',
		title: 'titulo',
		subtitle: 'este el es subtitulo',
		letter: ' descrpcion de esa cosa',
	},
	{
		imgSrc:
			'png de la imagen',
		title: 'titulo',
		subtitle: 'este el es subtitulo',
		letter: ' descrpcion de esa cosa',
	},
];
---
<main>
		<section>
			{
				letterCards.map(function (lettercard) {
					return (
						<letterCard
							imgSrc={lettercard.imgSrc}
							title={lettercard.title}
							body={lettercard.body}
							price={lettercard.price}
						/>
					);
				})
			}
		</section>
	</main>
