---
import Button from '../Button.astro';

type Props = {
	title: string;
	titleClass?: string;
};

let { title, titleClass,  } = Astro.props;
---

<div
	class="px-8 pt-6 pb-4 rounded-3xl shadow-md shadow-gray-400/80 max-w-[340px] min-h-[420px] flex flex-col items-center gap-6">
	<h2 class:list={['text-xl font-semibold text-center', titleClass]}>
		{title}
	</h2>
	
	<div class="flex-1 text-[15px] leading-[20px] text-foreground/80 space-y-2">
   		 <slot />
  	</div>
	<Button label="Contactar equipo Mapache" />
</div>
