@theme {
    --color-background: #FAFAFA;
    --color-primary: #F7B7A9;
    --color-secondary: #FCDBC9;
    --color-tertiary: #C0C0C0;
    --color-muted: #C0C0C0;
    --color-foreground: #25282A;
<<<<<<< HEAD
    --color-btn: #F9CEC3;

=======
    
>>>>>>> a6a7f75cf53a253fc3a9234de1d3ea8ffc1f7d8b
}
