@theme{
    --color-background: #FAFAFA;
    --color-primary: #F7B7A9;
    --color-secondary: #FCDBC9;
    --color-tertiary: #C0C0C0;
    --color-muted: #C0C0C0;
    --color-foreground: #25282A;
    --color-btn: #F9CEC3;

}
