---
import Mayam from '../../assets/colores.png';
---
<section class="w-full px-4 i gap-4">
    <h1 class="text-[36px] leading-[54px] font-medium text-foreground/80 mb-2 ">
        Aliados Estrategicos
    </h1>
    <section>
        <div class="w-[400px] h-[400px]">
            <img src={Mayam .src} alt="">
        </div>
    </section>
    <section>
        <h2>Contactanos</h2>
        <h1>Incrementa la <strong>experiencia</strong> de tus clientes!</h1>
    </section>
    <section class="bg-amber-400 w-[200px] h-[300px]">
        <form class="" id="formulario">
			<h1  class="">formulario</h1>
			<input type="text" name="user" placeholder="Ingresa tu Usuario" />
            <input type="email" name="email" placeholder="Ingresa tu Correo" />
			<input type="number" name="edad" placeholder="Ingresa tu Edad" />
			<input type="number" name="telefono" placeholder="Ingresa tu Telefono" />
			<input type="text" name="direccion" placeholder="Ingresa tu Direccion" />
			<button type="submit" form="user-form"> Ingresar </button>
		</form>

    </section>
</section>