---
import { actions, } from 'astro:actions';
import Mayam from '@/assets/mapache 2.png';
const result = Astro.getActionResult(actions.createNewContacto)
---
<main class=" max-w-full min-w-0 p-8 text-sm">
    <section id="aliados" class="w-full px-8 space-y-8 gap-4">
    <h1 class="text-4xl leading-[54px] font-bold text-foreground/70 mb-2 p-2 text-center">
        Aliados Estrategicos
    </h1>
    <div class="pt-4 ml-6">
        <div class="w-50  md:w-[250px] h-auto">
            <img src={Mayam.src} alt="mayam">
        </div>
    </div>
    
        <section class="flex flex-wrap items-start gap-4 p-4 bg- ">

    <div class="max-w-md w-[350px] space-y-6 ">
        <h2 class="font-medium text-[#AC8178] text-2xl">Contáctanos</h2>
        <h1 class="text-3xl sm:text-4xl   md:text-5xl leading-snug sm:leading-tigh text-foreground/60 mb-2 sa ">¡Incrementa la <strong class="text-black">experiencia</strong> de tus clientes!</h1>
       
   
    </div>
   
        <form method="POST"   id="formulario" action={actions.createNewContacto}
        class=" h-[auto] w-[250px] ml-auto mr-auto m-2 space-y-5 ">
    
    <label for="username">Con quien tenemos el gusto</label>
    <input type="text" name="name" placeholder="Nombre Completo" required />
    <label for="cargo">Cargo empresarial</label>
    <input type="text" name="cargo" placeholder="Dueño de negocio"required/>
    <label for="email">Correo electrónico</label>
    <input type="email" name="email" placeholder="@" required/>
    <div>
        <label for="select">Ingresa tus datos</label>
          <select name="select" class="text-foreground/70  text-[14px] w-full border-2 rounded-b p-1" >
              <option>Servicio Mapache</option>
              <option>Innovación Empresarial</option>
              <option>Diseño de Branding</option>
              <option>Workshops Mapache</option>
              <option>Quiero la prueba de usabilidad</option>
              <option>Quiero la radiografía financiera</option>
              <option>Quiero el diagnóstico de Marca</option>
          </select>
    </div>

    <div>
        <div class="space-y-1">
             <label class="">Comentarios</label>
            <textarea class="p-3" name="comentarios" placeholder="¿Cómo podemos ayudarte?"></textarea>
        </div>
    </div>
    
   <button form="formulario"
	type="submit" 
	class=`flex items-center gap-2 w-auto max-w-[480px] rounded-2xl font-medium py-1 cursor-pointer px-4 hover:opacity-80 bg-primary text-foreground`>
	Contactar con el equipo
</button>
   
</form>

<div id="mensaje" class="text-center text-sm mt-4 p-4 w-full text-foreground/70  "></div>
   
        </section>
    </section>
</main>


<style>
 

 input{
        border: 1px solid #ccc;  
        padding: 5px;
        border-radius: 5px;       
        width: 100%;
        font-size: 12px;
    }
    textarea{
       
        color: #000;
        width: 100%;
        height: 100px;
        border-radius: 6px;  
        border: 1px solid #ccc;  
        font-size: 12px;
        
    }
    label{
        color:#9b9898;

        font-size: 11px;
       
    }
    option{
        color: #9b9898;
       
        border-radius: 6px;       
    }
    select{
        border: 1px solid #ccc;
    }
</style>
<script>
import { actions } from "astro:actions";

const form = document.getElementById("formulario") as HTMLFormElement;
const mensaje = document.getElementById("mensaje") as HTMLElement;

form?.addEventListener("submit", async (ev) => {
  ev.preventDefault();
  const formData = new FormData(form);

  const { data, error } = await actions.createNewContacto(formData);

  if (mensaje) {
    if (!error) {
      mensaje.innerHTML = `¡Gracias ${formData.get("name")}! Hemos recibido tu información.`;
      mensaje.classList.remove("hidden", "text-red-600");
     
    } 

    // Mostrar mensaje por 3 segundos y luego ocultar
    setTimeout(() => {
      mensaje.classList.add("hidden");
    }, 3000);
  }

  form.reset();
});


</script>