---
import atomos from '../../assets/primarios.png';
---
<section id="servicios-1" class=" contenedor w-full h-[600px] px-4 flex justify-center gap-4  bg-gray-100">


    <section class="flex py-16">

      <div class="w-full h-[600px]">
        <img src={atomos.src} alt=""
        class="w-[700px] h-[400px] ">
      </div>
    </section>

    <section class="w-full max-w-[480px] h-auto grid gap-4 auto-rows-max py-26 m-4 ">
      <h1 class="text-5xl leading-[37px] font-medium text-foreground/60 mb-2">Diseño de servicios</h1>
    
    <p class="text-muted py-6">
      Con un enfoque centrado en el usuario, anticipamos necesidades, resolvemos problemas y creamos momentos memorables alineados a la propuesta de valor de tu marca y las expectativas de tus clientes.
    </p>

     <section class="py-16">
       <button
       type="button"
         class="w-[auto] max-w-full bg-primary text-foreground rounded-xl font-medium py-1 cursor-pointer hover:bg-primary/80 px-2">
         Contactar Equipo Mapache
       </button>
     </section>
</section>


<style>
  .contenedor {
   
    padding: 20px;
  }
  
</style>
