---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Nav from '../layouts/nav.astro';
import Inicio from './sections/Inicio.astro';
import DServicio from '../sections/DServicio.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main>
		<Nav />
		<Inicio />
		<DServicio />
	</main>
</Layout>
<style>
	main {
		padding-inline: 80px;
		max-width: 1440px;
		margin: auto;
	}
</style>



