---
import imagen from '../../assets/IMG.png';
---
<main class="px-20 max-w-full min-w-0">
<section class="w-full px-4 flex justify-between gap-4">  
  <!--abajo estan los textos-->
   <section class="w-full max-w-[400px] h-auto grid gap-4 auto-rows-max pt-4 m-4">
    <h1 class="text-[46px] leading-[54px] font-medium text-foreground/80 mb-2">
      ¿Tus colaboradores saben qué decir y hacer?
    </h1>
    <strong class="text-xl">Estandarizamos la atención al cliente.</strong>
    <p class="text-muted">
        Una empresa rentable es aquella que confia en sus colaboradores y procesos para que
		tu marca siempre se vea y se sienta en todos los puntos de contacto.
    </p>
   </section>
<!--abajo esta para la imagen-->
<section class="flex">
    <div class="w-[560px] h-[560px] rounded-full overflow-hidden bg-[#fb43c5]">
        <img 
        src={imagen.src} alt="imagen de inicio"
        class="w-full h-full object-cover object-[5px]"/>
    </div>
</section>
</section>
<section class="px-4 py-16">
  
  <button type="button"
class=" w-[180px] max-w-[180px] bg-primary text-foreground rounded-xl font-medium py-1 cursor-pointer hover:bg-primary/80 ">
  Diseño de Servicios
</button>
</section>

</main>

