---
import imagen from '../../assets/IMG.png';
import Button from '../button.astro';
---
<main class="px-8 max-w-full min-w-0 p-2">
<section id="inicio" class="w-full px-4 sm:px-14 flex flex-col md:flex-row justify-between gap-6">  
  <!--abajo estan los textos-->
   <section class="w-full max-w-full md:max-w-[500px] grid gap-4 auto-rows-max m-4">
    <h1 class="text-5xl leading-[50px] font-medium text-foreground/60 mb-2">
      ¿Tus colaboradores saben qué decir y hacer?
    </h1>
    <strong class="text-xl">Estandarizamos la atención al cliente.</strong>
    <p class="text-muted">
        Una empresa rentable es aquella que confia en sus colaboradores y procesos para que
		tu marca siempre se vea y se sienta en todos los puntos de contacto.
    </p>
   </section>
<!--abajo esta para la imagen-->
<section class="flex">
    <div class="md:w-[500px] md:h-[500px] rounded-full w-[400px] h-[400px] overflow-hidden bg-[#fb43c5]">
        <img 
        src={imagen.src} alt="imagen de inicio"
        class="w-full h-full object-cover object-[5px]"/>
    </div>
</section>
</section>
<section class="px-14 py-16">
  
<Button label="Diseño de Servicios"/>
</section>

</main>

