---
import imageservicios from "../../assets/happy-clients-buying-poke-bowl-2022-09-29-21-15-22-utc.png";
import mapachelogo from "../../assets/logo2recortado.png";
import Button from "../Button.astro"
---

<section id="diseno" class="bg-[#d0cfe6] p-24">
  <div class="flex justify-between items-center gap-10 flex-wrap">
    <div class="flex flex-col gap-12 max-w-xl">
      <div class="">
        <img
          class="w-[190px] h-auto"
          src={mapachelogo.src}
          alt="Mapache Logo"
        />
      </div>

      <div>
        <strong class="text-2xl block">Servicio estrella</strong>
        <h1 class="text-5xl font-bold leading-tight">Diseño de servicios</h1>
      </div>

      <div class="text-base">
        <p>Costo: $xx + IVA</p>
        <p>Tiempo estimado: xxx dias habiles</p>
        <p>Entregables: xxx</p>
      </div>

      <div class="mt-12">
        <Button label="¡Quiero un diagnostico de marca!" bgColor="bg-boton-servicios" textColor="text-texBoton"></Button>
      </div>
    </div>
    <!-- imagen -->
    <div class="p-2 mt-4">
      <img
        src={imageservicios.src}
        alt="Imagen de servicios"
        class="w-[450px] h-[450px] rounded-full object-cover"
      
      />
    </div>
  </div>
</section>
