---
import Card from '../components/Ayuda/Ayuda.astro';
---

<html lang="es">
  <head>
    <title>Ejemplo Cards con Astro</title>
  </head>
  <body>
    <h1>Mis Tarjetas</h1>
    <div style="display: flex; flex-wrap: wrap;">
      <Card 
        title="Astro Card"
        image="https://astro.build/assets/press/astro-icon-light.svg"
        description="Esta es una tarjeta hecha con Astro."
        link="https://astro.build/"
      />
      <Card 
        title="Otra Card"
        image="https://images.unsplash.com/photo-1465101046530-73398c7f28ca"
        description="Puedes reutilizar este componente para mostrar diferentes contenidos."
      />
    </div>
  </body>
</html>