---
import Ayuda from '@/components/Ayuda/Ayuda.astro';
import HelpCard from './Ayuda/HelpCard.astro';

let AyudasCards = [
	{
		title: 'Diseño de onboarding',
		body: ' Dar la bienvenida adecuada, con lineamientos y manuales claros con obligaciones y responsabilidades bien definidas, perminte al colaborador integrarse con confianza al equipo, comprender su rol desde inicio y alinearse con los procesos de la empresa fortaleciendo la cultura organizacional y el desempeño desde el primer dia.',
		titleClass: 'text-[#7b8c42]',
	},
	{
		title: 'Diseño de embajador de Marca',
		body: 'Un asistente clave que atiende, informa y represente los valores, el servicio y la esencia de tu atención excepcional, gestiona la agenda de reservaciones, comunica promociones y crea conexiones memorables con tus clientes. Eleva la experiencia y fortalece la identidad de tu marca desde el primer contacto.',
		titleClass: 'text-[#8987c0]',
	},
	// {
	// 	title: 'Capacitación para nuevos colaboradores',
	// 	letter: 'h',
	// },
	// {
	// 	title: 'Asistentes Virtuales IA para Negocios',
	// 	letter: 'j ',
	// },
];
---

<main>
	<section id="ayudamos">
		<h1 class="flex justify-center font-bold text-foreground/60 text-5xl"
			>Te ayudamos con:</h1
		>
		<div class="grid place-items-center grid-cols-1 md:grid-cols-2 gap-4">
			{
				AyudasCards.map(function (info) {
					return <HelpCard {...info} />;
					// return <Ayuda title={Ayudacard.title} letter={Ayudacard.letter} />;
				})
			}
		</div>
	</section>
</main>

<style></style>
