---
const { label } = Astro.props;
---
<button type="button"
class=" w-[180px] max-w-[180px] bg-primary text-foreground rounded-xl font-medium py-1 cursor-pointer hover:bg-primary/80 px-2 ">
{ label }
</button>