---
type Props = {
	href: string;
	class?: string;
};

const { class: className, href } = Astro.props;

---

<a
	class:list={[
		'flex justify-center items-center bg-[#fcdbc9] rounded-3xl w-[47px] h-[47px] cursor: pointer hover:scale-110 transition'
		,
		className,
	]}
	href={href} target="_blank"
	>
		<slot />
	</a>

