---
import Instagram from "../iconos/Instagram.astro"
import Facebook from "../iconos/Facebook.astro"
import Whatsapp from "../iconos/Whatsapp.astro"
import Behance from "../iconos/Behance.astro"
import Linkedin from "../iconos/Linkedin.astro"
import Envelope from "../iconos/Envelope.astro"
import ContactLink from "../Contacto/ContactLink.astro"
---

<footer id="footer" class="bg-[#707070] pt-9">
  <div class="flex flex-col items-end">
   <div class="flex flex-wrap justify-center md:justify-end gap-3 mb-3 px-4 sm:px-8 md:px-20 ">
      <ContactLink href="">
        <Whatsapp class="w-10 md:w-[35px] h-auto" />
      </ContactLink>
      <ContactLink href="">
        <Instagram class="w-10 md:w-[35px] h-auto" />
      </ContactLink>
      <ContactLink href="">
        <Facebook class="w-10 md:w-[35px] h-auto" />
      </ContactLink>
      <ContactLink href="">
        <Envelope class="w-20 md:w-[35px] h-auto" />
      </ContactLink>
      <ContactLink href="">
        <Linkedin class="w-20 md:w-[35px] h-auto" />
      </ContactLink>
      <ContactLink href="">
        <Behance class="w-10 md:w-[35px] h-auto" />
      </ContactLink>
    </div>
    <div class="text-background text-1xl sm:text-2xl  pr-12 ">
      <p>contacto@mapache.com.mx</p>
      <p>Todos los derechos reservados</p>
      <p>para © 2023 Mapache ®</p>
      <p>Políticas de privacidad</p>
      <p>Términos de uso</p>
    </div>
  </div>
</footer>
