---
import Instagram from "../iconos/Instagram.astro"
import Facebook from "../iconos/Facebook.astro"
import Whatsapp from "../iconos/Whatsapp.astro"
import Behance from "..//iconos/Behance.astro"
import Linkedin from "../iconos/Linkedin.astro"
import Envelope from "../iconos/Envelope.astro"
import ContactLink from "../Contacto/ContactLink.astro"
---
<footer class="bg-[#707070] flex justify-end ">
  <footer class="flex flex-col">
	<div class="flex justify-end gap-4">
		<ContactLink href="">
			<Whatsapp class="w-[35px] h-[35px]" />
		</ContactLink>

		<ContactLink href="">
			<Instagram class="w-[35px] h-[35px]" />
		</ContactLink>

		<ContactLink href="">
			<Facebook class="w-[30px] h-[30px]" />
		</ContactLink>

		<ContactLink href="">
			<Envelope class="w-[28px] h-[28px]" />
		</ContactLink>

		<ContactLink href="">
			<Linkedin class="w-[35px] h-[35px]" />
		</ContactLink>
	
		<ContactLink href="">
			<Behance class="w-[35px] h-[35px]" />
		</ContactLink>
	</div>

  <div class="px-10 py-10">
    <p>contacto@mapache.com.mx</p>
    <p>Todos los derechos reservados</p>
    <p>para © 2023 Mapache ®</p>
    <p>Políticas de privacidad</p>
    <p>Términos de uso</p>
  </div>
</footer>
