---
type Props = {
	href: string;
	class?: string;
};

const { class: className, href } = Astro.props;

---

<div
	class:list={[
		'flex justify-center items-center bg-[#fcdbc9] rounded-3xl w-[47px] h-[47px]',
		className,
	]}
	><a class="cursor: pointer hover:scale-110 transition" href={href} target="_blank">
		<slot />
	</a>
</div>
