---
import Instagram from "../iconos/Instagram.astro"
import Facebook from "../iconos/Facebook.astro"
import Whatsapp from "../iconos/Whatsapp.astro"
import Behance from "../iconos/Behance.astro"
import Linkedin from "../iconos/Linkedin.astro"
import Envelope from "../iconos/Envelope.astro"
import ContactLink from "../Contacto/ContactLink.astro"
---

<footer id="footer" class="bg-[#707070] pt-8">
  <div class="flex flex-col items-end">
    <div>
  <div class="flex gap-3 mb-3 px-14">
<ContactLink href="">
			<Whatsapp class="w-[35px] h-[35px]" />
		</ContactLink>

		<ContactLink href="">
			<Instagram class="w-[35px] h-[35px]" />
		</ContactLink>

		<ContactLink href="">
			<Facebook class="w-[39px] h-[35px]" />
		</ContactLink>


		<ContactLink href="">
			<Envelope class="w-[39px] h-[35px] p-[.3rem] " />
		</ContactLink>

		<ContactLink href="">
			<Linkedin class="w-[35px] h-[35px] p-[.2rem]" />
		</ContactLink>
	
		<ContactLink href="">
			<Behance class="w-[35px] h-[35px]" />
		</ContactLink>
</div>

    </div>
    <div class="text-background text-2xl px-18 mb-12">
      <p>contacto@mapache.com.mx</p>
      <p>Todos los derechos reservados</p>
      <p>para © 2023 Mapache ®</p>
      <p>Políticas de privacidad</p>
      <p>Términos de uso</p>
    </div>
  </div>
</footer>
