---
---
<section class="w-[100%] h-[77%]">
  <h1 class="text-center text-foreground/60 font-bold text-4xl py-16">Creando marcas para el futuro</h1>
<div class="grid grid-cols-1 md:grid-cols-3 gap-10 px-10">

  <div class="px-8">
    <h2 class="text-letras text-3xl mb-5 font-bold">1.Diagnóstico y propuesta</h2>
    <p class="text-tertiary">
      Tengamos una primera reunión con el equipo Mapache y tu equipo para conocer las necesidades de tu empresa, y así poder presentar un plan de trabajo y cotización alineada a los objetivos.
    </p>
  </div>
   <div class="px-8">
    <h2 class="text-letras text-3xl mb-5 font-bold">2. Diseño y desarrollo</h2>
    <p class="text-tertiary">
      Trabajamos en sesiones creativas y de definición con ustedes para presentar propuestas antes del Diseño final.
    </p>
  </div>
  <div class="px-8">
    <h2 class="text-letras text-3xl mb-5 font-bold">3. Entrega y seguimiento</h2>
    <p class="text-tertiary">
      Tendrás archivos editables y formatos listos para imprimir y web, además de acompañamiento para el uso de la Marca.
    </p>
  </div>
</div>
</section>