---
---

<section>
  <h2 class="flex justify-center text-[#707070] font-bold py-16 text-4xl">Creando marcas para el futuro</h2>
</section>
<div class="flex px-20 gap-20 space-x-8">
  <div>
    <h2 class="text-[#8b89c1] font-bold text-3xl mb-6">1. Diagnóstico y propuesta</h2>
   <p class="text-gray-600 w-114">
    Tengamos una primera reunión con el equipo Mapache y tu equipo para conocer las necesidades de tu empresa, y asi poder presentar un plan de trabajo y cotización alineada a los objetivos.</p>
</div>
<div>
<h2 class="text-[#8b89c1] font-bold text-3xl mb-6">2. Diseño y desarrollo</h2>
   <p class="text-gray-600">
    Trabajamos en sesiones creativas y de definición con ustedes para presentar propuestas antes del Diseno final.</p>
</div>
 <div>
    <h2 class="text-[#8b89c1] font-bold text-3xl mb-6">3. Entrega y seguimiento</h2>
   <p class="text-gray-600">
    Tendrás archivos editables y formatos listos para imprimir y web, ademas de acompanamiento para el uso de la Marca.</p>
</div>