---
---

<section>
  <h2>Creando marcas para el futuro</h2>
  <div class="contenedor">
    <div>
      <h3>1. Diagnóstico y propuesta</h3>
      <p>
        Tengamos una primera reunión con el equipo Mapache y tu equipo para conocer las necesidades de tu empresa, y así poder presentar un plan de trabajo y cotización alineada a los objetivos.
      </p>
    </div>
    <div>
      <h3>2. Diseño y desarrollo</h3>
      <p>
        Trabajamos en sesiones creativas y de definición con ustedes para presentar propuestas antes del Diseño final.
      </p>
    </div>
    <div>
      <h3>3. Entrega y seguimiento</h3>
      <p>
        Tendrás archivos editables y formatos listos para imprimir y web, además de acompañamiento para el uso de la Marca.
      </p>
    </div>
  </div>
</section>

<style>
  h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #555;
    margin-bottom: 40px;
  }

  .contenedor {
    display: flex;
    justify-content: center;
    gap: 90px;
  }

  .contenedor div {
    max-width: 300px;
  }

  h3 {
    font-size: 20px;
    font-weight: bold;
    color: #6a5acd;
    margin-bottom: 5px;
  }

  p {
    font-size: 15px;
    color: #555;
  }
</style>
