---
import Logo from '../components/Logo.astro'
---

<header class="flex justify-between items-center px-4 py-5 gap-4 mb-[40px]">
	<Logo/>
	<nav class="navigation">
		<ul class="flex items-center gap-4 justify-between text-muted font-medium">
			<li><a class="underline underline-foreground" href="#">Home</a> </li>
			<li><a href="#">Quienes somos</a></li>
			<li><a href="#">Diseño de servicios</a></li>
			<li><a href="#">Inovación empreserial</a></li>
			<li><a href="#">Diseño de Marca</a></li>
			<li><a href="#">Contacto</a></li>
			<li><a href="#">Preguntas frecuentes</a></li>
		</ul>
	</nav>
</header>
