---
import logo from '../../assets/logo2.png';
---

<header class=" flex justify-between items-center px-4 py-4 gap-4 mb-[40px]">

<img src={logo.src} alt="Mapache Logotipo" class="w-[160px] h-auto" />
	<nav class="navegacion">
		<ul class="flex items-center gap-4 justify-between text-muted font-medium">
			<li><a class="underline underline-foreground" href="">Inicio</a></li>
			<li><a href="">Quienes Somos</a></li>
			<li><a href="">Diseño de Servicios</a></li>
			<li><a href="">Innovacion Empresarial</a></li>
			<li><a href="">Diseño de Marca</a></li>
			<li><a href="">Contacto</a></li>
			<li><a href="">Preguntas Frecuentes</a></li>
		</ul>
	</nav>
</header>
