---
import logo from '../../assets/logo2.png';
---

<header class=" flex justify-between items-center px-4 sm:px-8 lg:px-14 py-4 relative">

<img src={logo.src} alt="Mapache Logotipo" class="w-80  md:w-[280px] h-auto" />

<label for="menu-sanwich" class="lg:hidden text-3xl text-foreground/80 cursor-pointer">
    ☰
</label>

<input type="checkbox" id="menu-sanwich" class="hidden peer" />

<nav class="navegacion absolute lg:static top-16 left-0 w-full lg:w-auto bg-white lg:bg-transparent shadow-md lg:shadow-none px-6 lg:px-0 py-4 lg:py-0 
           hidden peer-checked:block lg:block z-50">
		<ul class="flex flex-col lg:flex-row items-start lg:items-center gap-4 lg:gap-6 text-foreground/70 font-medium" >
			<li><a href="#inicio">Inicio</a></li>
			<li><a href="#servicios-1">Quienes Somos</a></li>
			<li><a href="#diseno">Diseño de Servicios</a></li>
			<li><a href="#ayudamos">Innovacion Empresarial</a></li>
			<li><a href="#marcas">Diseño de Marca</a></li>
			<li><a href="#footer">Contacto</a></li>
			<li><a href="#aliados">Preguntas Frecuentes</a></li>
		</ul>
	</nav>
</header>

<style>
.navegacion a {
color: #2b2929;
transition: 0.2s;
}

.navegacion a:hover {
  font-weight: bold;
  border-bottom: 2px solid #131111;
}

</style>