---
import logo from '../../assets/logo2.png';
---

<header class=" flex justify-between items-center px-4 sm:px-8 lg:px-14 gap-8 mb-4">

<img src={logo.src} alt="Mapache Logotipo" class="w-40 sm:w-52 md:w-[260px] h-auto bg-" />
	<nav class="navegacion">
		<ul class="flex flex-col lg:flex-row items-start lg:items-center gap-6 text-foreground/70 bg-amber-300" >
			<li><a class="underline underline-foreground" href="#inicio">Inicio</a></li>
			<li><a href="#servicios-1">Quienes Somos</a></li>
			<li><a href="#diseno">Diseño de Servicios</a></li>
			<li><a href="#ayudamos">Innovacion Empresarial</a></li>
			<li><a href="#marcas">Diseño de Marca</a></li>
			<li><a href="#footer">Contacto</a></li>
			<li><a href="#aliados">Preguntas Frecuentes</a></li>
		</ul>
	</nav>
</header>
