---
import logo from '../../assets/logo2.png';
---

<header class=" flex justify-between items-center px-14 gap-2 mb-4">

<img src={logo.src} alt="Mapache Logotipo" class="w-[260px] h-auto" />
	<nav class="navegacion">
		<ul class="flex items-center gap-4 justify-between text-foreground/70 ">
			<li><a class="underline underline-foreground" href="#inicio">Inicio</a></li>
			<li><a href="#servicios-1">Quienes Somos</a></li>
			<li><a href="#diseno">Diseño de Servicios</a></li>
			<li><a href="#ayudamos">Innovacion Empresarial</a></li>
			<li><a href="#marcas">Diseño de Marca</a></li>
			<li><a href="#footer">Contacto</a></li>
			<li><a href="#aliados">Preguntas Frecuentes</a></li>
		</ul>
	</nav>
</header>
